<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=w, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey | Result</title>
</head>
<body>
    <div class="container">
        <div class="labels">
            <p>Name:</p>
            <p>Location:</p>
            <p>Favorite Language:</p>
            <p>Comments (Optional):</p>
        </div>
        <div class="results">
            <p>@Model.Name</p> 
            <p>@Model.Location</p> 
            <p>@Model.FavLanguage</p> 
            <p>@Model.Comment</p> 
        </div>
    </div>
</body>
</html>